<hr>
<h2>Thanks for using Split the Loot!</h2>
<p>If this app was useful, and you'd like to tip the team, here's where you can contribute
  to our Ale & Adventuring fund!</p>
<div fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxFlex>
    <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
    <script type='text/javascript'>
      kofiwidget2.init('Split the Loot via Ko-fi', '#29abe0', 'S6S722GI0');
      kofiwidget2.draw();

    </script>
  </div>
</div>
